<div class="col-sm-12">
  <h5>Posts</h5>
  <div class="card" *ngFor="let post of posts | async">
    <div class="card-header">
      <h3><a href="/post/{{post.id}}" class="card-title">{{post.title}}</a></h3>
    </div>
    <div class="card-body">
      <p [innerHTML]="post.content.substring(0,400)"></p>
      <p class="text-right"><b>Date</b> : {{post.createdOn.substring(0,10)}}</p>
      <p class="text-right"><b>Author:</b> {{post.username}}</p>
      <a type="button" href="/post/{{post.id}}" class="read-more btn btn-info">Read More</a>
    </div>
  </div>
  <!-- <div class="col-sm-12" *ngFor="let post of posts | async">
        <div class="blogpost">
          <h3><a href="/post/{{post.id}}" class="blog-title">{{post.title}}</a></h3>
          <div>
            <i class="fas fa-user"></i> Author: <p>{{post.username}}</p>
          </div>
          <p [innerHTML]="post.content"></p>
          <div>
            <a type="button" href="/post/{{post.id}}" class="read-more btn btn-default">Read More</a>
          </div>
          <hr>
        </div>
        <hr>
      </div> -->
</div>