<div class="container sticky-top">
    <div class="row">
        <nav class="col-sm-12 navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home">
                <img src="https://cdn.pariyer.com/ACYHRMGblog.png" width="30" height="30"
                    class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Anasayfa</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Posts
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/home">Posts</a>
                            <a class="dropdown-item" *ngIf='authService.isAuthenticated()' href="/add-post">Add
                                Post</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Üyelik
                        </a>
                        <div class="dropdown-menu" *ngIf='!authService.isAuthenticated()' aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/register">Register</a>
                        </div>
                        <div class="dropdown-menu" *ngIf='authService.isAuthenticated()' aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" (click)="logout()">Logout</a>
                            <a class="dropdown-item" href="#">Settings</a>
                        </div>
                    </li>
                </ul>
                <!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Üyelik
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/login">Login</a>
                        <a class="dropdown-item" href="/register">Register</a>
                        <a class="dropdown-item" href="#">Settings</a>
                    </div>
                </div> -->
            </div>
        </nav>
    </div>
</div>